extends ./_partial/_layout

block stylesheets
  link(rel="stylesheet",href="common/css/main.css")

block scripts
  script(src = "common/js/main.js")

block content
  div.frame-all

    div#contents.frame-contents
      section#blk1.mod-blk
        div.blk-inner
          h1 Section.1
          div.mod-backstrech.js-backstrech
            img(src="common/img/main.jpg", width="2048", height="1365")

      section#blk2.mod-blk
        div.blk-inner
          h1 Section.2
          div.mod-backstrech.js-backstrech
            img(src="common/img/main2.jpg", width="2048", height="1365")

      section#blk3.mod-blk
        div.blk-inner
          h1 Section.3
          div.mod-backstrech.js-backstrech
            img(src="common/img/main3.jpg", width="2048", height="1365")

    nav#gnav.mod-gnav
      div.inner
        h1 Jimodol
        ul
          li: a(href="#blk1") Nav-1
          li: a(href="#blk2") Nav-2
          li: a(href="#blk3") Nav-3