@import '../../node_modules/nib'

global-reset()
reset-html5()
@import "./libs/_cssfonts.styl"
@import "./libs/_utils.styl"

html
  width 100%
  height 100%

body
  font-family $_font_hiragino
  font-size fz(12)
  width 100%
  height 100%
  background #000
  // overflow-y hidden

.frame-all
  position relative
  min-width 960px
  min-height 500px
  width 100%
  height 100%

.mod-gnav
  background rgba(0,0,0,0.5)
  width 100%
  height 80px
  fixed left 0 bottom 0
  color #FFF
  >.inner
    position relative
  a
    color #FFF
    line-height 80px
  h1
    font-size 30px
    font-weight bold
    line-height 80px
    absolute: left 20px
  ul
    clearfix()
    absolute: left 200px
  li
    float left
    margin-left 20px

.mod-blk
  width 100%
  height 100%
  position fixed
  .blk-inner
    width 100%
    height 100%
    position relative
  h1
    color #FFF
    font-size 30px
    font-weight bold
    absolute: left 50px top 50px

// 背景全画面
.mod-backstrech
  absolute: left 0 top 0
  overflow hidden
  z-index -99999
  img
    absolute: top 0 left 0
    z-index -99999